.base-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;

	.header{
	 font-size: 24px;
	 font-family: georgia, serif;
	}

	.content{
	display:flex;
	flex-direction:column;

	.image{
		width: 21rem;
		img{
			width:100%;
			height:100%;
		}
	}

	.form{
	margin-top:2em;
	display:flex;
	flex-direction:column;
	align-items: center;
	}
	}
}